@charset 'UTF-8';

* :not(hr) :not(#preview *) {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-wrap: anywhere;
}

p#thisPage {
    border: 1px solid black;
}

a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

hr, div.hr-with-text::before, div.hr-with-text::after {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

div.hr-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
div.hr-with-text::before,
div.hr-with-text::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid black;
}
div.hr-with-text:not(:empty)::before {
    margin-right: 0.25em;
}
div.hr-with-text:not(:empty)::after {
    margin-left: 0.25em;
}

div#dropArea {
    border: 2px dashed gray;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
}
div#dropArea.dragover {
    border-color: #3333ff;
    background-color: #e0e0ff;
}

img#loadingIndicator {
    width: auto;
    height: 84px;
    vertical-align: middle;
    margin: 10px;
}

/* Preview Area Styles 

* <div id="previewArea">
*     <button id="closePreviewButton">プレビューを閉じる</button>
*     <div id="previewContent"></div>
*     <button id="prevPreviewButton">前のファイル</button>
*     <button id="nextPreviewButton">次のファイル</button>
* </div>

*/
div#previewOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
div#previewArea {
    display: flex;
    background: #fff;
    width: 80%;
    height: 80%;
    padding: 20px;
    border-radius: 8px;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div#previewArea button {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px;
}
div#previewArea #previewContent {
    display: flex;
    flex: 1;
    width: 100%;
    height: calc(100% - 20px);
    overflow: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid gray;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div#previewFileName {
    position: absolute;
    top: 5px;
}
div#previewArea #closePreviewButton,
div#previewArea #prevPreviewButton,
div#previewArea #nextPreviewButton {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
#closePreviewButton:hover,
#prevPreviewButton:hover,
#nextPreviewButton:hover {
    background-color: #f0f0f0;
}
div#previewContent img,
div#previewContent video,
div#previewContent audio {
    max-width: calc(80vw - 30px);
    max-height: calc(80vh - 50px);
}
div#previewContent pre,
div#previewContent iframe {
    width: calc(80vw - 45px);
    height: calc(80vh - 85px);
}
#previewContent pre * {
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
}
#previewContent pre {
    text-align: left;
}
/* #nextPreviewButton and #prevPreviewButton position */
#prevPreviewButton {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
#nextPreviewButton {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
/* closePreviewButton position */
#closePreviewButton {
    position: fixed;
    top: 10px;
    right: 10px;
}